# setup.py
build
dist
*.egg*

# Python
*.pyc
*.pyo

# IDEs
.idea

# MACOSX
.DS_Store

# Eclipse files
.pydevproject
.project

# Log files.
logs/

# TensorboardX files.
runs/

# Jupyter checkpoint files.
test/.ipynb_checkpoints/

# Other
.tox
.coverage
.pypirc
.ipynb_checkpoints/
*.ipynb
*~
.html/
.mypy_cache/

docs/build/
