<header class="header mb-4">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a href="#" class="navbar-brand home">
                <img src="/static/img/logo.jpg" alt="Obaju logo" class="d-none d-md-inline-block">
                <img src="/static/img/logo-small.jpg" alt="Obaju logo" class="d-inline-block d-md-none">
            </a>

            <div id="navigation" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto ">


                </ul>
                <div class="navbar-buttons d-flex justify-content-end">

                    <div >
                        <select name="login" class="form-control" onchange="window.location=this.value;">
                            <option value="/user_board/index" >Login</option>
                            <option value="/user_board/api/logout/">Logout</option>
                        </select>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

